<div class="calculator" [class.locked]="isSending">

  <!-- DISPLAY -->
  <input pInputText class="display" [value]="display" readonly />

  <!-- GRID -->
  <div class="grid">

    <p-button label="C" class="btn danger"
      (onClick)="clear()" [disabled]="isSending" />

    <p-button icon="pi pi-delete-left" class="btn gray"
      (onClick)="backspace()" [disabled]="isSending" />

    <p-button label="÷" class="btn operator"
      (onClick)="append('/')" [disabled]="isSending" />

    <p-button label="×" class="btn operator"
      (onClick)="append('*')" [disabled]="isSending" />

    <p-button label="7" class="btn gray" (onClick)="append('7')" [disabled]="isSending" />
    <p-button label="8" class="btn gray" (onClick)="append('8')" [disabled]="isSending" />
    <p-button label="9" class="btn gray" (onClick)="append('9')" [disabled]="isSending" />
    <p-button label="−" class="btn operator" (onClick)="append('-')" [disabled]="isSending" />

    <p-button label="4" class="btn gray" (onClick)="append('4')" [disabled]="isSending" />
    <p-button label="5" class="btn gray" (onClick)="append('5')" [disabled]="isSending" />
    <p-button label="6" class="btn gray" (onClick)="append('6')" [disabled]="isSending" />
    <p-button label="+" class="btn operator"
      (onClick)="append('+')" [disabled]="isSending" />

    <p-button label="1" class="btn gray" (onClick)="append('1')" [disabled]="isSending" />
    <p-button label="2" class="btn gray" (onClick)="append('2')" [disabled]="isSending" />
    <p-button label="3" class="btn gray" (onClick)="append('3')" [disabled]="isSending" />

    <p-button label="=" class="btn equal"
      (onClick)="calculate()" [disabled]="isSending" />

    <p-button label="0" class="btn gray zero"
      (onClick)="append('0')" [disabled]="isSending" />

    <p-button label="." class="btn gray"
      (onClick)="append('.')" [disabled]="isSending" />

  </div>

  <!-- SEND -->
  <p-button class="send-btn" (onClick)="send()" [disabled]="isSending">

    <ng-template pTemplate="content">
      <ng-container *ngIf="!isSending">
        {{ 'CALCULATOR.SEND' | translate }}
      </ng-container>

      <ng-container *ngIf="isSending">
        <span class="spinner"></span>
      </ng-container>
    </ng-template>

  </p-button>

</div>


<modal-ip></modal-ip>