.dialog-text {
  margin-bottom: 1rem;
  font-size: 14px;
}

.ip-input {
  width: 100%;
}

.error-text {
  color: #ef4444;
  font-size: 12px;
  margin-top: 6px;
  display: block;
}

.information {
    text-align: center;
    margin-bottom: 50px;
}