.language{
    &--btn {
        background-color: var(--primary-color);
        padding: 10px;
        border: 0;
        color: #fff;
        cursor: pointer;

        &.active {
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            background-color: #fff;
        }
    }
}