<div class="admin-container">

  <!-- Header -->
  <div class="header">
    <div class="title-container">
      <h1 class="title">{{ 'ADMIN.TITLE' | translate }}</h1>
      <p-button icon="pi pi-times" label="{{ 'RETURN' | translate}}" severity="secondary" (click)="goBack()"></p-button>
    </div>
    <div class="header-actions">
            <p-button
              class="action"
              icon="pi pi-replay"
              severity="info"
              size="large"
              [title]="'ADMIN.RESTART' | translate"
              longPress
              [duration]="3000"
              (longPress)="startSystemAction('reboot')"
            />

            <p-button
              class="action"
              icon="pi pi-power-off"
              severity="danger"
              size="large"
              [title]="'ADMIN.SHUTDOWN' | translate"
              longPress
              [duration]="3000"
              (longPress)="startSystemAction('shutdown')"
            />

            <p-button class="action" [disabled]="!openDoorCode?.value" icon="pi pi-lock-open" size="large" severity="success" title="{{ 'ADMIN.OPENDOOR' | translate}}" (onClick)="onOpenDoor()" />
            <p-button class="action" icon="pi pi-euro" severity="secondary" size="large" title="{{ 'ADMIN.CASHCLOSING' | translate }}" (onClick)="onCashierBalancing()" />
      </div>
  </div>

  <section class="section background--highlight">
    <div class="actions">
      <div class="action-container">
        <div class="header">
          <span class="action-title">{{ 'ADMIN.REFILL.LOADING' | translate }}</span>
          <span class="action-icon pi pi-play text--green"></span>
        </div>

        @if (!isLoading) {
          <div>
            <p-button
              icon="pi pi-play"
              label="{{ 'ADMIN.REFILL.START' | translate }}"
              class="w-full--btn"
              (click)="toggleLoading(true)">
            </p-button>
          </div>
        }

        @if (isLoading) {
          <div>
            <p-button
              icon="pi pi-stop"
              label="{{ 'ADMIN.REFILL.STOP' | translate }}"
              class="w-full--btn"
              severity="danger"
              (click)="toggleLoading(false)">
            </p-button>
  
            <div class="refill-info">
              <strong>{{ 'ADMIN.REFILL.AMOUNT' | translate }} :</strong> {{ refillAmount / 100 | number:'1.2-2' }} €
            </div>
          </div>
        }
      </div>

      <!-- Withdrawal -->
      <div class="action-container">
        <div class="header">
          <span class="action-title">{{ 'ADMIN.WITHDRAWAL.TITLE' | translate }}</span>
          <span class="action-icon pi pi-euro text--green"></span>
        </div>

          @if (!withdrawalCode?.value) {
              <p class="warning-msg">
                  <i class="pi pi-exclamation-triangle"></i>
                  {{ 'ADMIN.WITHDRAWAL.NOCODE' | translate }}
              </p>
          }

          @if (withdrawalCode?.value) {
            <p-button icon="pi pi-euro" label="Effectuer un retrait" class="w-full--btn" (click)="handleWithdrawal()"></p-button>
          }
      </div>

    </div>
  </section>

  @if (themeService.getPhone()) {
    <div class="sav-phone">
      <span class="label">{{ 'ADMIN.SAV.TITLE' | translate }}</span>

      <!-- lien téléphone -->
      <a class="phone" [href]="'tel:' + themeService.getPhone()">
        <i class="pi pi-phone"></i>
        {{ themeService.getPhone() }}
      </a>

      <span class="hours">7/7 • 10h - 19h</span>
    </div>
  }

</div>


@if (isSystemAction) {
  <div class="system-overlay">

    @if (countdown !== null) {
      <div class="countdown">
        {{ countdown }}
      </div>
    }

    @if (countdown === null) {
      <p-progressSpinner></p-progressSpinner>

      <div class="text">
        {{ systemMessage | translate }}
      </div>
    }

  </div>
}