.splash {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  animation: fadeIn .6s ease forwards;
}

.logo {
  width: clamp(140px, 25vw, 260px);
  opacity: 0;
  transform: scale(.85);
  animation: logoIn .8s ease forwards;
}

.splash.hide {
  animation: fadeOut .4s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes logoIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to { opacity: 0; }
}