@if (visible) {
  <div class="error-banner">

    <div class="header">
      <span class="title">
        ⚠️ {{ 'ERROR.HEADER' | translate }}
      </span>

      <button 
        pButton 
        icon="pi pi-times"
        severity="secondary"
        text
        size="small"
        (click)="clearAll()">
      </button>
    </div>

    <div class="content">
      @for (e of errors; track e) {
        <div class="line">

          <div class="left">
            <span class="type">{{ e.type }}</span>
            <span class="message">{{ e.message }}</span>
          </div>

          <div class="right">
            <span class="timestamp">
              {{ e.timestamp | date:'HH:mm:ss' }}
            </span>

            <button 
              pButton 
              icon="pi pi-times"
              severity="danger"
              text
              size="small"
              (click)="remove(e)">
            </button>
          </div>

        </div>
      }
    </div>

  </div>
}