@if (!showSplash && !showInstall) {
  <div class="app-layout">
  
    <!-- Sidebar gauche -->
    <aside class="sidebar">
      <div class="sidebar-top">
        <img [routerLink]="['/']" [src]="logoPath" class="sidebar-logo" />
  
        <div class="w-full">
          <monnayeur-health></monnayeur-health>
        </div>
  
        <p-button label="Menu" class="w-full--btn menu" [routerLink]="['employee']"></p-button>
  
        <span class="separator separator--high"></span>
      </div>
  
      <div class="sidebar-bottom w-full">
        <div class="section-ip background--highlight">
          <span class="info">IP Monnayeur</span>
          <span class="font--bold text--green">{{ deviceIP }}</span>
        </div>
  
        <language-switcher></language-switcher>
      </div>
    </aside>
  
    <!-- Contenu -->
    <main class="content">
      <error-banner></error-banner>
      <device-blocker></device-blocker>
  
      <update-app></update-app>
      <router-outlet></router-outlet>
    </main>
  
  </div>
}

@if (showSplash) {
  <splash-screen
    [duration]="3000"
    (finished)="onSplashFinished()">
  </splash-screen>
}

@if (showInstall) {
  <pwa-install></pwa-install>
}