/* ===== Layout global ===== */
.app-layout {
  display: flex;
}

/* ===== Sidebar ===== */
.sidebar {
  background: #fff;
  border-right: 1px solid var(--primary-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

/* ===== Logo responsive ===== */
.sidebar-logo {
  width: 100%;
    max-width: 130px;
    height: 130px;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

/* ===== Sections ===== */
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section-ip {
      padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.content {
  flex: 1;
}

::ng-deep {

  $menuBtnW: 150px;
  $menuBtnH: 100px;

  .menu {
    width: $menuBtnW;
    height: $menuBtnH;
  
    button.p-ripple.p-button {
      width: $menuBtnW !important;
      height: $menuBtnH !important;
    }

    .p-button-label {
      font-size: 30px;
    }
  }
}