<div class="log-card">

  <!-- Header -->
  <div class="log-header">
    <h2>{{ 'LOGS.TOTAL' | translate }}</h2>

    @if (logs.length > 0) {
        <span class="log-count">
           {{ logs.length }} {{ 'LOGS.TRANSACTIONS' | translate }}
        </span>
    }
  </div>

  <!-- Body -->
  <div class="log-body">

    <!-- Aucun paiement -->
    @if (logs.length === 0) {
      <p class="empty">
        {{ 'LOGS.EMPTY' | translate }}
      </p>
    }

    <!-- Liste -->
    @for (log of logs; track log) {

  <div class="log-line">

        <!-- Ligne principale : date + montant -->
        <div class="log-main">
          <span class="date">
            {{ log.timestamp | date: 'dd/MM/yyyy HH:mm' }}
          </span>

          <span class="amount">
            @if (log.amount % 1 !== 0) {
              {{ log.amount | number:'1.2-2' }} €
            } @else {
              {{ log.amount }} €
            }
          </span>
        </div>

        <!-- Justificatif -->
        @if (isJustificatifEnabled() && log.justif) {
          <div class="log-receipt">
            {{ log.justif }}
          </div>
        }

      </div>

    }

  </div>

  <!-- Footer total -->
  <div class="log-footer">
    <span>{{ 'LOGS.AMOUNT' | translate }}</span>
    <span class="total">
      @if (total % 1 !== 0) {
        {{ total | number:'1.2-2' }} €
      } @else {
        {{ total }} €
      }
    </span>
  </div>

  <div class="log-actions">

    <p-button 
      label="{{ 'LOGS.CLEAN' | translate }}" 
      icon="pi pi-trash" 
      severity="danger" 
      class="w-full w-full--btn" 
      (click)="onCleanLogs()">
    </p-button>

    <p-button 
      label="{{ 'LOGS.EXPORT' | translate }}" 
      icon="pi pi-upload" 
      severity="info" 
      class="w-full w-full--btn" 
      (click)="onExportLogs()">
    </p-button>

    @if (networkMode === 'OPEN') {
      <p-button 
        label="{{ 'LOGS.SEND' | translate }}" 
        icon="pi pi-envelope" 
        severity="success" 
        class="w-full w-full--btn" 
        (click)="onSendLogsByEmail()">
      </p-button>
    }

  </div>

</div>